* {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    width: 65vw;
    font-family: "Roboto", sans-serif;
    padding: 32px 0;

}

.container>h3 {
    padding-top: 0.8rem;
    margin: 1.5rem 0;
}

.paraph {
    padding-top: 0.5rem;
}